{% load static %}
<!doctype html>
<html>
<meta charset="utf-8">
<head>
    <link rel="stylesheet" href="{% static 'thlmonitor/style.css' %}">
    <script src="{% static 'thlmonitor/map_thldata.js' %}"></script>
    {{ thldata|json_script:"thl-data"}}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'thlmonitor/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'thlmonitor/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'thlmonitor/favicon-16x16.png'%}">
<title>125 Systems Home Monitoring System</title>
</head>
<body>
  <header>
    <h1>
      <a href="/"><img class="logo" src="{% static 'thlmonitor/logo.webp' %}"></a>
    </h1>
    <nav>
    </nav>
  </header>
  <div class="page">
    <h2>Current Time "{{ time }}" </h2>
    <h2>Ground Floor</h2>
    {% block body %}
        {% block ground_floor %}
            <div style="position: relative">
                <canvas id="ground_floor" width="300" height="480" style="border: 2px solid #000000; z-index: 0;position: absolute; left: 0; top: 0"></canvas>
                <canvas id="ground_floor_rooms" width="300" height="480" style="border: 2px solid #000000;"></canvas>
            </div>
        {% endblock %}
        <h2>First Floor</h2>
        {% block first_floor %}
            <div style="position: relative">
            <canvas id="first_floor" width="360" height="560" style="border: 2px solid #000000; z-index: 0;position: absolute; left: 0; top: 0"></canvas>
            <canvas id="first_floor_rooms" width="360" height="560" style="border: 2px solid #000000; z-index: 1"></canvas>
            </div>
        {% endblock %}
    {% endblock %}
  </div>
  <footer>
    <ul class="social">
    <li> </li>
    <li><a href="https://github.com/neerajadsul">Github</a> </li>
    <li><a href="https://linkedin.com/in/neerajadsul">LinkedIn</a></li>
    </ul>
    <br>
  &copy; Copyright 2023 by 125 Systems.
  </footer>
</body>
</html>